<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.dao.DeptmentEntityMapper">
  <resultMap id="BaseResultMap" type="com.community.entity.DeptmentEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="dept_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="create_who" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="edit_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="edit_who" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="isDelete" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="Deptment" type="com.community.entity.DeptmentEntity">
      <id column="id" javaType="java.lang.Integer" property="id" />
      <result column="name" javaType="java.lang.String" property="name" />
      <result column="parent_id" javaType="java.lang.Integer" property="parent_id" />
      <result column="dept_no" javaType="java.lang.String" property="dept_no" />
      <result column="create_time" javaType="java.util.Date" property="create_time" />
      <result column="create_who" javaType="java.lang.Integer" property="create_who" />
      <result column="edit_time" javaType="java.util.Date" property="edit_time" />
      <result column="edit_who" javaType="java.lang.Integer" property="edit_who" />
      <result column="isDelete" javaType="java.lang.Integer" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, dept_no, create_time, create_who, edit_time, edit_who, isDelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deptment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deptment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.community.entity.DeptmentEntity">
    insert into deptment (id, name, parent_id, 
      dept_no, create_time, create_who, 
      edit_time, edit_who, isDelete
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{deptNo,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{createWho,jdbcType=INTEGER}, 
      #{editTime,jdbcType=DATE}, #{editWho,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.community.entity.DeptmentEntity">
    insert into deptment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="deptNo != null">
        dept_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createWho != null">
        create_who,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editWho != null">
        edit_who,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createWho != null">
        #{createWho,jdbcType=INTEGER},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=DATE},
      </if>
      <if test="editWho != null">
        #{editWho,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.community.entity.DeptmentEntity">
    update deptment
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="deptNo != null">
        dept_no = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createWho != null">
        create_who = #{createWho,jdbcType=INTEGER},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=DATE},
      </if>
      <if test="editWho != null">
        edit_who = #{editWho,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.community.entity.DeptmentEntity">
    update deptment
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      dept_no = #{deptNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      create_who = #{createWho,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=DATE},
      edit_who = #{editWho,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>