<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.dao.Engineer_orderEntityMapper">
  <resultMap id="BaseResultMap" type="com.community.entity.Engineer_orderEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="form_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="equipment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Deal_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="create_who" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="deal_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="deal_who" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="isDelete" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="Engineer_order" type="com.community.entity.Engineer_orderEntity">
      <id column="id" javaType="java.lang.Integer" property="id" />
      <result column="form_id" javaType="java.lang.Integer" property="form_id" />
      <result column="equipment_id" javaType="java.lang.Integer" property="equipment_id" />
      <result column="order_content" javaType="java.lang.String" property="order_content" />
      <result column="Deal_content" javaType="java.lang.String" property="Deal_content" />
      <result column="create_time" javaType="java.util.Date" property="create_time" />
      <result column="create_who" javaType="java.lang.Integer" property="create_who" />
      <result column="deal_time" javaType="java.util.Date" property="deal_time" />
      <result column="deal_who" javaType="java.lang.Integer" property="deal_who" />
      <result column="Status" javaType="java.lang.Integer" property="Status" />
      <result column="isDelete" javaType="java.lang.Integer" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, form_id, equipment_id, order_content, Deal_content, create_time, create_who, 
    deal_time, deal_who, Status, isDelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from engineer_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from engineer_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.community.entity.Engineer_orderEntity">
    insert into engineer_order (id, form_id, equipment_id, 
      order_content, Deal_content, create_time, 
      create_who, deal_time, deal_who, 
      Status, isDelete)
    values (#{id,jdbcType=INTEGER}, #{formId,jdbcType=INTEGER}, #{equipmentId,jdbcType=INTEGER}, 
      #{orderContent,jdbcType=VARCHAR}, #{dealContent,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{createWho,jdbcType=INTEGER}, #{dealTime,jdbcType=DATE}, #{dealWho,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.community.entity.Engineer_orderEntity">
    insert into engineer_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="orderContent != null">
        order_content,
      </if>
      <if test="dealContent != null">
        Deal_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createWho != null">
        create_who,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="dealWho != null">
        deal_who,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="orderContent != null">
        #{orderContent,jdbcType=VARCHAR},
      </if>
      <if test="dealContent != null">
        #{dealContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createWho != null">
        #{createWho,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=DATE},
      </if>
      <if test="dealWho != null">
        #{dealWho,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.community.entity.Engineer_orderEntity">
    update engineer_order
    <set>
      <if test="formId != null">
        form_id = #{formId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="orderContent != null">
        order_content = #{orderContent,jdbcType=VARCHAR},
      </if>
      <if test="dealContent != null">
        Deal_content = #{dealContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createWho != null">
        create_who = #{createWho,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=DATE},
      </if>
      <if test="dealWho != null">
        deal_who = #{dealWho,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.community.entity.Engineer_orderEntity">
    update engineer_order
    set form_id = #{formId,jdbcType=INTEGER},
      equipment_id = #{equipmentId,jdbcType=INTEGER},
      order_content = #{orderContent,jdbcType=VARCHAR},
      Deal_content = #{dealContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      create_who = #{createWho,jdbcType=INTEGER},
      deal_time = #{dealTime,jdbcType=DATE},
      deal_who = #{dealWho,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>