<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.dao.MenuEntityMapper">
  <resultMap id="BaseResultMap" type="com.community.entity.MeunEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pid" javaType="java.util.Date" jdbcType="INTEGER" />
      <arg column="lv" javaType="java.util.Date" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="Meun" type="com.community.entity.MeunEntity">
      <id column="id" javaType="java.lang.Integer" property="id" />
      <result column="name" javaType="java.lang.String" property="name" />
      <result column="pid" javaType="java.util.Date" property="pid" />
      <result column="lv" javaType="java.util.Date" property="lv" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pid, pm_attendance, lv
  </sql>
<select id="getOne" resultMap="Meun">
  SELECT * FROM meun where 1=1
</select>
</mapper>