<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.dao.VisitorEntityMapper">
  <resultMap id="BaseResultMap" type="com.community.entity.VisitorEntity">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="visitorname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="visit_object" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="visit_time_start" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="visit_time_end" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column=" create_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="create_who" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="Visitor" type="com.community.entity.VisitorEntity">
      <id column="id" javaType="java.lang.Integer" property="id" />
      <result column="visitorname" javaType="java.lang.String" property="visitorname" />
      <result column="nickname" javaType="java.lang.String" property="nickname" />
      <result column="mobile" javaType="java.lang.String" property="mobile" />
      <result column="image" javaType="java.lang.String" property="image" />
      <result column="visit_object" javaType="java.lang.Integer" property="visit_object" />
      <result column="reason" javaType="java.lang.String" property="reason" />
      <result column="visit_time_start" javaType="java.util.Date" property="visit_time_start" />
      <result column="visit_time_end" javaType="java.util.Date" property="visit_time_end" />
      <result column="type" javaType="java.lang.Integer" property="type" />
      <result column=" create_time" javaType="java.util.Date" property="create_time" />
      <result column="create_who" javaType="java.lang.Integer" property="create_who" />
  </resultMap>
  <sql id="Base_Column_List">
    id, visitorname, nickname, mobile, image, visit_object, reason, visit_time_start, 
    visit_time_end, type, " create_time", create_who
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from visitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from visitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.community.entity.VisitorEntity">
    insert into visitor (id, visitorname, nickname, 
      mobile, image, visit_object, 
      reason, visit_time_start, visit_time_end, 
      type, " create_time", create_who
      )
    values (#{id,jdbcType=INTEGER}, #{visitorname,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{visitObject,jdbcType=INTEGER}, 
      #{reason,jdbcType=VARCHAR}, #{visitTimeStart,jdbcType=DATE}, #{visitTimeEnd,jdbcType=DATE}, 
      #{type,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, #{createWho,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.community.entity.VisitorEntity">
    insert into visitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="visitorname != null">
        visitorname,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="visitObject != null">
        visit_object,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="visitTimeStart != null">
        visit_time_start,
      </if>
      <if test="visitTimeEnd != null">
        visit_time_end,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        " create_time",
      </if>
      <if test="createWho != null">
        create_who,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="visitorname != null">
        #{visitorname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="visitObject != null">
        #{visitObject,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeStart != null">
        #{visitTimeStart,jdbcType=DATE},
      </if>
      <if test="visitTimeEnd != null">
        #{visitTimeEnd,jdbcType=DATE},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createWho != null">
        #{createWho,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.community.entity.VisitorEntity">
    update visitor
    <set>
      <if test="visitorname != null">
        visitorname = #{visitorname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="visitObject != null">
        visit_object = #{visitObject,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeStart != null">
        visit_time_start = #{visitTimeStart,jdbcType=DATE},
      </if>
      <if test="visitTimeEnd != null">
        visit_time_end = #{visitTimeEnd,jdbcType=DATE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        " create_time" = #{createTime,jdbcType=DATE},
      </if>
      <if test="createWho != null">
        create_who = #{createWho,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.community.entity.VisitorEntity">
    update visitor
    set visitorname = #{visitorname,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      visit_object = #{visitObject,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      visit_time_start = #{visitTimeStart,jdbcType=DATE},
      visit_time_end = #{visitTimeEnd,jdbcType=DATE},
      type = #{type,jdbcType=INTEGER},
      " create_time" = #{createTime,jdbcType=DATE},
      create_who = #{createWho,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>